@import "tailwindcss";

:root {

}

@layer {
  @font-face {
    font-family: "SF Pro Display";
    src: url("/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "SF Pro Display";
    src: url("/fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
    font-weight: bold;
    font-style: normal;
  }
}

@theme {
  --color-white: #fff;
  --color-black: #000000;
  --color-grey: #f9f8f6;
  --color-mint: #66d4b3;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
}
